
.container {
  display: flex;
  flex-direction: row;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  border: 1px solid black;
}

p {
  width: 60%;
}

p::first-line {
  font-weight: bold;
}

img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
