#loading {
  width: 80px;
  height: 80px;
}

.figure {
  border: 0.5rem solid var(--white);
}

.figure:hover {
  border: 0.5rem solid var(--purple);
  background-color: var(--purple);
  color: var(--white);
}

.text-center {
  display: flex;
  flex-wrap: wrap;
}

#item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
}

#image {
  width: 200px;
  height: 200px;
}
